.parent{
    display: flex;
    
}
.outlet{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
    background-color: rgb(240, 255, 200);
}

.sideNav{
    display: flex;
    padding: 5px 3px 5px 6px;
    background-color: rgb(255, 162, 0);
    width: 10%;
    height: 100vh;
    overflow: auto;
    
    
}

.sideNav > ul > li{
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
    padding: 18px 15px;
    
}

.sideNav > ul > li a{
    color: white;
}