
.main{
    
    display: flex;
    justify-content: space-around;
   
    align-items: center;
    margin-top: 50px;
}
form{
    
    border-radius: 5px;
    padding: 5%;
    text-align: center;
    background-color: rgb(217, 230, 250);
    width: 300px;
   
}

input {
    padding: 1%;
    margin: 1% 2%;
  }

  

.error{
   display: block;
    color: red;
}


.btn,.btn-1:hover{
    background: red;
    border: none;
    color: white;
    
    cursor: pointer;
}

.last{
    padding-top: 10px;
}

.image1{
    display: flex;
    
    background-image: url('contactus.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 30%;
 
}