
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #5ca3dd93;
}
h2{
    font-size: 150px;
    margin: 0;
    text-shadow: 15px 5px 2px black;
}
 /* h3{
    font-size: 40px;
    margin: 20px;
}  */
/* p{
    font-size: 18px;
    margin: 5px;
}
p:last-of-type{
    margin-bottom: 35px;
} */
a{
    text-decoration: none;
    
}

