.footer-content{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-transform: capitalize;
  
    
    
}

.icons:hover{
    cursor: pointer;
}


.foot{
    margin-top: auto;
  }

 