.navbar{
    display: flex;
    padding: 15px; 
    background-color: black;
    justify-content: flex-end;
    top: 0;
}

.navbar ul { 
    font-family: sans-serif Arial;
	list-style-type: none; 
    font-size: 20px;
    margin-right: 5rem;
	} 
 
.navbar ul li {  
	display: inline; 
} 

.navbar ul li :hover{
    color: white;
    background-color: rgb(0, 8, 255);
}
 
.navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff;  
	} 
 

   