.navbar{
    display: flex;
    padding: 15px; 
    background-color: black;
    justify-content: flex-end;
   
}

.navbar ul { 
	list-style-type: none; 
    font-size: 28px;
    margin-right: 5rem;
	} 
 
.navbar ul li {  
	display: inline; 
} 

.navbar ul li :hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition-delay: 0.9ms;
    border-radius: 50px;
}
 
.navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff;  
	} 
 

.active-side{
    background-color: blueviolet;
    border-radius: 50px;
}

.nav-items{
    height: 100%;
}
